<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA5EG4wJWlcB9Yu89b3b4x7h3nvr_GsGAc</string>
	<key>GCM_SENDER_ID</key>
	<string>459639509634</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.orora.matgong</string>
	<key>PROJECT_ID</key>
	<string>matgong-d881c</string>
	<key>STORAGE_BUCKET</key>
	<string>matgong-d881c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:459639509634:ios:95c1f12ec69983d838da9b</string>
</dict>
</plist>